// Global
* {
  all: unset;
}

$rosewater: #f5e0dc;
$flamingo: #f2cdcd;
$pink: #f5c2e7;
$mauve: #cba6f7;
$red: #f38ba8;
$maroon: #eba0ac;
$peach: #fab387;
$yellow: #f9e2af;
$green: #a6e3a1;
$teal: #94e2d5;
$sky: #89dceb;
$sapphire: #74c7ec;
$blue: #89b4fa;
$lavender: #b4befe;
$text: #cdd6f4;
$subtext1: #bac2de;
$subtext0: #a6adc8;
$overlay2: #9399b2;
$overlay1: #7f849c;
$overlay0: #6c7086;
$surface2: #585b70;
$surface1: #45475a;
$surface0: #313244;
$base: #1e1e2e;
$mantle: #181825;
$crust: #11111b;

$background: $base;
$foreground: $text;

$black: $crust;
$gray: $overlay2;
$red: $red;
$green: $green;
$yellow: $yellow;
$blue: $blue;
$magenta: $sky;
$cyan: $sapphire;
$white: $foreground;

// EWW BAR
.eww_bar {
  @if $orientation == "v" {
    background-color: $background;
    padding: 0.3rem 0.5rem;
  } @else {
    background-color: $background;
    padding: 0.3rem 1rem;
  }
}

// Workspaces
.works {
  @if $orientation == "v" {
    padding: 0.7rem 0.2rem;
  } @else {
    padding: 0.2rem 0.7rem;
  }

  background-color: $black;
  border-radius: 5px;
}

/* Unoccupied */
.a0 {
  color: $white;
}

/* Occupied */
.a01,
.a02,
.a03,
.a04,
.a05,
.a06,
.a07,
.a08,
.a09,
.a010 {
  color: $white;
}

/* Focused */
.a011,
.a022,
.a033,
.a044,
.a055,
.a066,
.a077,
.a088,
.a099,
.a01010,
.a000 {
  color: $cyan;
}

/*  */
.a01,
.a011,
.a02,
.a022,
.a03,
.a033,
.a04,
.a044,
.a05,
.a055,
.a06,
.a066,
.a07,
.a077,
.a08,
.a088,
.a09,
.a099,
.a010,
.a01010,
.a00,
.a000,
.a0 {
  transition: color 1s;
  padding: 0;

  @if $orientation == "v" {
    font-size: 1.5rem;
    padding: 0.3rem;
  } @else {
    font-size: 1.5rem;
    margin-left: 5px;
    margin-right: 5px;
  }
}

.ws-icon {
  transition: 0.4s all ease;
}

.ws-btn:hover {
  .ws-icon {
    color: $cyan;
    transition: 0.3s all ease;
  }
}

// Control Panel
.control {
  font-family: Material Icons;
  font-size: 1.6em;
  background-color: $black;
  border-radius: 5px;
}

.bat {
  // font-size: 1.2em;
  color: $blue;
}

.wifi-icon {
  color: $magenta;

  @if $orientation == "v" {
    font-size: 1.7rem;
    padding: 0.7rem 0;
  } @else {
    padding: 0 0.7rem;
    font-size: 1.7rem;
  }
}

.volume-icon {
  margin: 0;
  color: $blue;

  @if $orientation == "v" {
    font-size: 1.7rem;
    padding: 0.7rem 0;
  } @else {
    font-size: 1.7rem;
    padding: 0 0.7rem;
  }
}

scale trough {
  all: unset;
  background-color: $background;
  border-radius: 5px;

  @if $orientation == "v" {
    min-height: 80px;
    min-width: 10px;
    margin: 0.3rem 0 0.3rem 0;
  } @else {
    min-width: 80px;
    min-height: 10px;
    margin: 0 0.3rem 0 0.3rem;
  }
}

.bribar trough highlight {
  background-color: $yellow;
  border-radius: 5px;
}

.volbar trough highlight {
  background-color: $blue;
  border-radius: 5px;
}

// Clock
.time {
  // font-family: JetBrains Mono Nerd Font;
  font-family: Fira Code Nerd Font;
  font-weight: bold;
  font-size: 1.2em;
  background-color: $black;
  color: $white;
  border-radius: 5px;

  @if $orientation == "v" {
    padding: 0.7rem 0 0.5rem 0;
    margin: 0.5rem 0 0.5rem 0;
  } @else {
    font-size: 1.4rem;
    padding: 0 0.7rem;
    margin: 0 0.5rem;
  }
}

// Calendar
.cal-box {
  background-color: $black;
  // font-family: JetBrains Mono Nerd Font;
  // font-family: Fira Code Nerd Font;
  font-family: CaskaydiaMono Nerd Font;
  font-size: 1em;
  font-weight: bold;

  .cal-inner-box {
    padding: 1rem 1rem 0.2rem;

    .cal {
      &.highlight {
        padding: 10rem;
      }

      padding: 0.8rem 0.25rem 0rem;
      margin-left: 10px;
    }
  }
}

calendar:selected {
  color: $blue;
}

calendar.header {
  color: $blue;
  font-weight: bold;
}

calendar.button {
  color: $magenta;
}

calendar.highlight {
  color: $magenta;
  font-weight: bold;
}

calendar:indeterminate {
  color: $gray;
}

// Powermenu
.powermenu {
  font-size: 1.7rem;
  font-weight: bold;

  @if $orientation == "v" {
  } @else {
    font-size: 1.7rem;
  }
}

.button-reb,
.button-lock,
.button-quit,
.button-off {
  @if $orientation == "v" {
    padding: 0.5rem 0rem 0.5rem 0rem;
  } @else {
    padding: 0 0.5rem 0 0.5rem;
  }
}

.button-off {
  color: $red;

  @if $orientation == "v" {
    margin-bottom: 0.5rem;
  }
}

.button-reb {
  color: $yellow;
}

.button-quit {
  color: $peach;
}

.button-lock {
  color: $blue;
}
