// Global
* {
  all: unset;
}



// Variable Color's
$background: #1a1b26;
$foreground: #a9b1d6;

$blackRgba: rgba(36, 40, 59, 0.9);
$black: #24283B;
$gray: #565f89;
$red: #f7768e;
$green: #73daca;
$yellow: #e0af68;
$blue: #7aa2f7;
$magenta: #bb9af7;
$cyan: #7dcfff;
$white: $foreground;

// EWW BAR
.eww_bar {
  background-color: rgba(26, 27, 38, 0.3);

  @if $orientation == "v" {
    padding: 0.3rem;
  } @else {
    padding: 0.3rem 1rem;
  }
}

// Workspaces
.works {
  @if $orientation == "v" {
    padding: 0.7rem 0.2rem;
  } @else {
    padding: 0.2rem 0.7rem;
  }

  background-color: $black;
  border-radius: 5px;
}

/* Unoccupied */
.0 {
  color: $gray;
}

/* Occupied */
.01,
.02,
.03,
.04,
.05,
.06,
.07,
.08,
.09,
.010 {
  color: $gray;
}

/* Focused */
.011,
.022,
.033,
.044,
.055,
.066,
.077,
.088,
.099,
.01010,
.000 {
  color: $cyan;
}

/*  */
.01,
.011,
.02,
.022,
.03,
.033,
.04,
.044,
.05,
.055,
.06,
.066,
.07,
.077,
.08,
.088,
.09,
.099,
.010,
.01010,
.00,
.000,
.0 {
  transition: color 1s;
  padding: 0;

  @if $orientation == "v" {
    font-size: 1.8rem;
    padding: 0.3rem;
  } @else {
    font-size: 1.5rem;
    margin-left: 5px;
    margin-right: 5px;
  }
}

.ws-icon {
  transition: 0.4s all ease;
}

.ws-btn:hover {
  .ws-icon {
      color: $cyan;
      transition: 0.3s all ease;
  }
}

// Control Panel
.control {
  font-family: Material Icons;
  font-size: 1.6em;
  background-color: $black;
  border-radius: 5px;
}

.bat {
  font-size: 1.2em;
  color: $blue;
}

.wifi-icon { 
  color: $magenta;

  @if $orientation == "v" {
    margin-bottom: -10px;
    font-size: 1.9em;
  } @else {
    padding: 0.2rem 0.7rem;
    font-size: 1em;
  }
}

.volume-icon {
  margin: 0;
  color: $green;

  @if $orientation == "v" {
    font-size: 1.6em;
    padding: 0.7rem 0.2rem;
  } @else {
    font-size: 1em;
    padding: 0.2rem 0.7rem;
  }
}

scale trough {
  all: unset;
  background-color: $background;
  border-radius: 5px;
  
  @if $orientation == "v" {
    min-height: 80px;
    min-width: 10px;
    margin: 0.3rem 0 0.3rem 0;
  } @else {
    min-width: 80px;
    min-height: 10px;
    margin: 0 0.3rem 0 0.3rem;
  } 
}

.bribar trough highlight {
  background-color: $yellow;
  border-radius: 5px;
}

.volbar trough highlight {
  background-color: $green;
  border-radius: 5px;
}

// Clock
.time {
  font-family: JetBrains Mono Nerd Font;
  font-weight: bold;
  font-size: 1.2em;
  background-color: $black;
  color: $white;
  border-radius: 5px;
  
  @if $orientation == "v" {
    padding: 0.7rem 0 0.5rem 0;
    margin: 0.5rem 0 0.5rem 0;
  } @else {
    padding: 0 0.7rem;
    margin:  0 0.5rem;
  }
}

// Calendar
.cal-box {
  background-color: $black;
  font-family: JetBrains Mono Nerd Font;
  font-size: 1em;
  font-weight: bold;

  .cal-inner-box {
    padding: 1rem 1rem 0.2rem;

    .cal {
      &.highlight {
        padding: 10rem;
      }

      padding: 0.8rem 0.25rem 0rem;
      margin-left: 10px;
    }
  }
}

calendar:selected {
  color: $blue;
}

calendar.header {
  color: $blue;
  font-weight: bold;
}

calendar.button {
  color: $magenta;
}

calendar.highlight {
  color: $magenta;
  font-weight: bold;
}

calendar:indeterminate {
  color: $gray;
}

// Powermenu
.powermenu {
  font-size: 1.3em;
  font-weight: bold;
}

.button-reb,
.button-lock,
.button-quit,
.button-off {
  @if $orientation == "v" {
    padding: 0.5rem 0rem 0.5rem 0rem;
  } @else {
    padding: 0 0.5rem 0 0.5rem;
  }
}

.button-off {
  color: $red;

  @if $orientation == "v" {
    margin-bottom: 0.5rem;
  }
}

.button-reb {
  color: $yellow;
}

.button-quit {
  color: $magenta;
}

.button-lock {
  color: $blue;
}
